<%= render 'shared/flash_messages', flash: flash %>

<div class="row">
  <div class="col-sm-12">

    <%= form_tag sessions_path do %>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= label_tag :email  %>
        </div>
        <div class="col-sm-10">
          <%= email_field_tag :email, "", class: "form-control", placeholder: "Enter email"  %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
        <%= label_tag :Password  %>
        </div>
        <div class="col-sm-10">
        <%= password_field_tag :password, "", class: "form-control", placeholder: "Enter password" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-6 col-sm-6">
          <%= submit_tag "Login", class: "btn btn-primary btn-lg" %>
        </div>
      </div>

    <% end %>
    <!-- <div class="col-sm-offset-5 col-sm-4">
      [<%#= link_to "Cancel request and return to Article listing", articles_path%>]
    </div> -->
  </div>
</div>
